ul.chats li {
  position: relative;
  list-style-type: none;
  width: 38%;
  height: 40px;
  margin: 0 0 10px 0%;
  padding: 10px;
  border-radius: 8px;
  background-color: #fef01b;
  color: #3a1d1d;
}

@media screen and (max-width: 768px) {
  ul.chats li {
    margin: 0 0 10px 0%;
    width: 65%;
  }
}
